
@media (max-width : 600px) {
    header button {
        display:none;
    }
    header .menuHamburger {
        display: block;
        position:absolute;
        right:0;
        font-size: x-large;
    }

    header .responsive > a,
    header .responsive button { 
        display:block;
    }
    .menuList {
        display: flex;
        flex-direction:column;
        position: absolute;
        border: #B00F0F 1px;
    }
    .menuListElementmenuItem {
        position: absolute;
        width: 300px;
        right:150px;
        top:40px;
    }
}
@media (min-width : 600px) {
    header .menuHamburger {
        display: none;
    }
}
.itemsList {
    display:flex;
    text-align: center;
    margin-left: 8px;
    flex-direction: row;
}
.menuList {
    display:flex;
    font-size: 15px;
    text-transform: uppercase;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;
    position:relative;
    right: 50px;
}
.menuList a {
    text-decoration: none;
    margin-right: 10px;
}
.items {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: rgb(68, 68, 68);
    font-size: 15px;
    text-decoration: none;
    margin-right: 10px;
}
.items:hover {
    background-color: #c5c5c5;
}
.reducedMenu {
    width: 60px;
    height: 60px;
    background: #B00F0F;
    border: 2px solid #f8f8f8;
    border-radius: 40px;
    color: #f8f8f8;
    font-size: 12px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7px;
    margin-top: 5px;
}
.menuListElements {
    position: relative;
}
.menu1 {
    display:block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:darkgrey;
    background-color: #f8f8f8;
}
.menuListElementmenuItem {
    display: none;
}
header .menuListElement:hover .menuListElementmenuItem{
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
    border: 1px #B00F0F solid;
    text-align: left;
    padding:5px;
    width: 150px;

}
header .menuListElementmenuItem a {
    margin-top:10px;
    text-decoration: none;
    color: black;
}
header .menuListElementmenuItem a:hover {
    color:#B00F0F
}



